= form_for(@invite) do |f|
  - if @invite.errors.any?
    #error_explanation
      %h2
        = pluralize(@invite.errors.count, "error")
        prohibited this invite from being saved:
      %ul
        - @invite.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit